body {
  font-family: 'Open Sans', sans-serif;
}

/*Header css*/
#header .headerTop {
  background-color: #081845;
  color: white;
  font-family: inherit;
  word-break: keep-all;
}

.login {
  display: inline-block;
  font-family: inherit;
}
